body{    
    color:#555
}
textarea{
    resize: none;  
}
ul {
    list-style-type: none;    
}
h5{
    margin-bottom: 5px;
}
.comment-field{
    
    box-shadow: inset 23px 3px 47px -25px #D9F4FF,6px 4px 16px -5px #917E7E;
}
.nav{
    box-shadow: 7px 7px 19px -6px #917E7E;
}
.panel-heading h3{
    margin:0px;
}
.error_f{
	display: block;
	font-size: 11px;	
	color: red;
}
ul {
    list-style-type: none;    
}
.parent-0 {
     padding-left: 0px;
}
.down-rating{
    color:#c9302c
}
.up-rating{
    color:#449d44
}

